/*Cabeçalho - header*/
.container {
    width: 97%;
}

header h1{
    text-align: center;
}

header h1 img{
    width:50%;
}

.sacola{
    display: none;
}

.menu-navegacao{
    position: static;
    text-align: center;
}

.menu-navegacao ul li{
    display: inline-block;
    margin: 5px;
}/* Fim de header */

/*Atalho para inicio da página */
.atalho-inicio{
    position: fixed;
    right: 25px;
    top: 420px;
}

.atalho-inicio img{
    width: 60px;
    height: 60px;
} /*Fim do .atalho-inicio */

/* index */
.busca,
.menu-departamentos,
.destaque img{
    margin-right: 0;
    width: 100%;
}

.painel{
    width: auto;
}

.painel li{
    width: 31%;
}

.painel li img{
    width:100%;
}/* fim index */

/*Página Sobre */
#centro-distribuicao figure{
    width: 90%;
}

#centro-distribuicao figure img{
    width: 100%;
}

#historia figure{
    width: 95%;
    float: none;
}

#historia figure img{
    width: 100%;
} /*Fim da página sobre */

/* Footer - Rodape */
footer .container{
    padding: 30px 4px;
    display: inline-block;
    position: static;
} 

.social li{
    margin-left: 15px;
}

.social a{
    /*Tamanho da imagem */
    height: 30px;
    width: 30px;
} /*Fim footer */

/* Smartphones pequenos */
@media (min-width: 180px){
    /* Index */
    .busca {
        text-align: center;
    }

    .painel{
        width: auto;
    }
    
    .painel li{
        width: 46%;
    }
    
    .painel li img{
        width:100%;    
    } /*Fim de index */

    /* Rodapé - Footer */
    footer .container {
        text-align: center;
    }
    
    .social{
        margin-top: 20px;
        text-align: center;
        float: none;
    } /* Fim footer */
    
}


/*Tablets e smartphones no modo paisagem*/
@media (min-width: 480px){

    /*Cabeçalho - Header */
    header h1 {
        margin: 5px 0;
    } /*Fim header */
    

    /* index */
    .busca{
        text-align: initial;
    }
    
    .menu-departamentos {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    .menu-departamentos nav > ul{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    } /* fim index*/
}


/*Tela de 720px acima */
@media (min-width: 720px) {

    /* cabeçalho - header */
    header h1 {
        text-align: left;
    }
    
    .menu-navegacao {
        position: absolute;
    }
    
    .sacola {
        display: block;
    } /* fim header */
    
    /* index */
    .painel li {
        width: 15%;
    }
    
    .busca, 
    .menu-departamentos {
        margin-right: 1%;
        width: 30%;
    }
    
    .menu-departamentos nav > ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    
    .destaque img {
        width: 69%;
    } /* fim index */
}