.principal h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.principal h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
    margin-bottom: 10px;
}

#centro-distribuicao figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

#centro-distribuicao figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

#centro-distribuicao figure {
    margin-right: auto;
    margin-left: auto;
    width: 550px;
}

#historia figure {
    float: right;
    margin: 0 0 10px 10px;
}

article {
    margin-bottom: 10px;
}

.principal p:first-letter {
    font-weight: bold;
}

.principal h1 + p {
    text-indent: 0;
}


